# Binary
p2pftp

# Downloaded files
downloads/*
!downloads/.gitkeep

# Debugging
__debug*

# Dependencies
vendor/

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
cli/cli
p2pftp
client/client
client/p2pftp-cli
memory-bank